{% extends "layout.html" %}

{% block page_title %}
  Design pattern: applying for the right thing
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">LIKELY TO CHANGE</strong>
      <span> find out how a <a href="/pattern_status">status</a> for pattern work</a>.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="#">Service design</a>
      </li>
      <li>
        <a href="#">Transaction patterns</a>
      </li>
      <li>
        Before you start
      </li>
    </ol>
  </div>

<div class="grid-row">
    <div class="column-two-thirds">

	      <h1 class="heading-xlarge"><span class="design-pattern">Transaction pattern
	      <br></span>Before you start
	      </h1>

		    <p class="lede">
		      Before starting a transaction, users need information to know if they can and should use it. 
		    </p>

		    <p class="lede">
		      This pattern meet these <strong class="phase-tag">needs</strong> with questions, calculated answers, to-do lists, showing rules. 
		    </p>

		<br>


		<p class="design-update">
		Last updated: 6 April 2016
		</h3>

		<br>
		<br>

	</div>
</div>

<div class="grid-row">
    <div class="column-one-third">

	<ol class="list list-number pattern_nav">
		<li><a href="#1">How this pattern saves time and money</a></li>
		<li><a href="#2">User needs this pattern meets</a></li>
		<li><a href="#3">Features in a servvice this pattern can replace</a></li>
		<li><a href="#4">How the pattern works</a></li>
		<li><a href="#5">Who is using this pattern now</a></li>
		<li><a href="#6">How to measure this pattern</a></li>
		<li><a href="#7">How to reuse this pattern</a></li>
		<li><a href="#8">Contribute and improve this pattern</a></li>
	</ol>
	
	</div>

	<div class="column-two-thirds">

	<h3 class="heading-medium" id="1" style="margin-top: 0px;">1. How this pattern saves time and money</h3>

	<p>There are common issues and costs (failure demand) connected with not routing users to forms, activities and rules specific to the thing they want to do.</p>

	<p>These issues and costs are:</p>

	<ul class="list list-bullet">
		<li>Users cannot check all the things need in order to do something </li>
		<li>Users are unclear what they need to do to not get in trouble with government for doing something</li>
		<li>Users are unclear are to what rules apply to them</li>
		<li>Users calling to ask if they need to fill in a form</li>
		<li>Users calling to ask which forms they need to fill in</li>
		<li>Users calling to ask what information they should put in a form</li>
		<li>Processing applications users didn't need to fill in</li>
		<li>Enforcement on filling out the wrong form</li>
		<li>Enforcement on users misunderstanding the rules, then breaking them unknowingly</li>
	</ul>

	<p>Teams have seen these cost of running their service drop, as a result of using this pattern.</p>

	<hr>

	<h3 class="heading-medium" id="1">2. Users needs this pattern meets</h3>

	<p>This pattern meets user needs. By using this pattern and meeting these user needs services can better meet policy intent and reduce running costs.</p>

	<p>Before using a transaction users needs to know:</p>

	<ul class="list list-bullet">
		<li>are they eligible to use a service e.g. carers allowance</li>
		<li>do they have to use a service e.g drivers medical</li>
		<li>what the full cost to use a service e.g firearm licence </li>
		<li>the rules are for doing something e.g planning permission</li>
		<li>what tasks are involved in applying or registering e.g. learn to drive</li>
	</ul>

	<hr>

	<h3 class="heading-medium" id="3">3. Features in a service this pattern can replace</h3>

	<p>Services with user need for routing questions, but not using the pattern have common features. By using the pattern, these features can be replaced.</p>

	<p>These common features are:</p>

	<ul class="list list-bullet">
		<li>"Pre app chats", where the service spends hours on the phone with users helping them prepare applications</li>
		<li>Lots of guidance and instructions on how to fill in a form</li>
		<li>Guidance and conditions split over multipple documents</li>
	</ul>

	<hr>

	<h3 class="heading-medium" id="4">4. How the pattern works</h3>

	<p>A service can route users using questions, data or both. This pattern uses questions.</p>

	<p>By answering the questions a users can check all the things need in order to do something</p>

	<p>The best way to explain the pattern is best using:</p>

	<p><a href="http://routing-questions-ea.herokuapp.com/questions/index">Try example prototype</a></p>

	 The example comes from the Environment Agency. The service, Check if you need permission to do work on a river. They used the pattern to replace over a 100 pages of guidance split over 13 documents. 

	<hr>

	<h3 class="heading-medium" id="5">5. Who is using this pattern now</h3>

	<div class="grid-row">

		<div class="column-one-third">
	      	<h3 class="heading-medium services-using-pattern-title">
				<span class="design-update">Environment Agency</span>
				<a href="#">Get a waste permit</a>
			</h3>
	    </div>

	    <div class="column-one-third">
	      	<h3 class="heading-medium services-using-pattern-title">
				<span class="design-update">Home Office</span>
				<a href="#">Apply for a visa</a>
			</h3>
	    </div>

	    <div class="column-one-third">
	      	<h3 class="heading-medium services-using-pattern-title">
				<span class="design-update">DVLA</span>
				<a href="#">Fitness to drive</a>
			</h3>
	    </div>

	</div>

    <div class="grid-row">

	    <div class="column-one-third">
	      	<h3 class="heading-medium services-using-pattern-title">
				<span class="design-update">HMRC</span>
				<a href="#">Inheritance tax</a>
			</h3>
	    </div>

	    <div class="column-one-third">
	      	<h3 class="heading-medium services-using-pattern-title">
				<span class="design-update">BIS</span>
				<a href="#">Exporting licence</a>
			</h3>
	    </div>

	</div>

	<hr>

	<h3 class="heading-medium" id="6">6. How to measure this pattern</h3>

	<p>Monitoring the performance of a pattern is essential: it allows the service teams using it or considering to, to know how well it works for their users and government.

	<p>The metrics measuring this pattern's performance are:</p>

	<ul class="list list-bullet">
		<li><span class="metrics">% of users</span> unable to check all the things need in order to do something</li>
		<li><span class="metrics">Number of calls</span> from users to ask what rules apply to them</li>
		<li><span class="metrics">Number of calls</span> from users to ask if they need to fill in a form</li>
		<li><span class="metrics">Number of calls</span> from users to ask which forms they need to fill in</li>
		<li><span class="metrics">Number of calls</span> from users to ask what information they should put in a form</li>
		<li><span class="metrics">% of unnecessary applications</span> a service processses</li>
		<li><span class="metrics">Amount of enforcement interactions on users</span> who filled out the wrong form</li>
		<li><span class="metrics">Amount of enforcement interactions on users</span> misunderstanding the rules, then breaking them unknowingly</li>
	</ul>

	<p>To work out the total cost in time and money, times the measure above by:</p>

	<ul class="list list-bullet">
		<li><a href="#">cost per call</a></li>
		<li><a href="#">cost to process one application</a></li>
		<li><a href="#">cost per enforcement interacton</a></li>
	</ul>

	<hr>

	<h3 class="heading-medium" id="7">7. How to reuse this pattern</h3>

	<p>The pattern is not a technology.</p> 

	<p>The pattern is practical guidance to design routing questions for your service.</p>

	<div class="panel panel-border-wide">
	    <p>
	    	Involve the policy in the design of your routing questions. 
		</p>
	</div>

    <p>
    	If possible make the policy as the same time, in a multidisciplinary team of designers, policy makers, content designers and user research.
    </p>

	<p><a href="/instructions">Step by step gudiance.</a></p>

	<p>The template code can be downloaded from <a href="https://github.com/HarryTrimble/routing_questions_ea">GitHub</a>.</p>

	<p>The pattern can also be a <a href="https://drive.google.com/a/digital.cabinet-office.gov.uk/file/d/0B_Oyjc6ZIrvRdXRnMVBaVWxhaXc/view?ts=5739bba0">phone script</a> for users with certain <a href="#"> support needs</p></a></p>

	<hr>

	<h3 class="heading-medium" id="8">8. Contribute and improve this pattern</h3>

	<p>Services not routing users tend to:</p>

    </div>
  </div>

</main>

{% endblock %}


